<div class="header">
  <img width="150" alt="Pomodoro Logo" src="../images/pomodoro.jpg" style="float: left; position: relative; left: 380px">
  <h1 style="font-family: fantasy; color: gray; ">
    Welcome to Pomodoro!
  </h1>
  <div style="padding-left: 520px; padding-right: 415px">
    <h5 style="color: gray; font-family: fantasy">Lorem ipsum dolor sit amet, consectetuer
      adipiscing elit, sed diem nonummy nibh euismod tincidunt ut lacreet
      dolore magna aliguam erat volutpat.</h5>
  </div>
  <form action=" " style="text-align: right">
    <button>Sign Up</button>
    <button>Login</button>
  </form>
</div>

<div class="menu">


  <div class="button">
    <p>
      <a routerLink="/guide" class="btn btn-success" role="button">How to use</a>
    </p>
  </div>

  <div class="button">
    <p>
      <a routerLink="/about" class="btn btn-success" role="button">What is the pomodoro</a>
    </p>
  </div>

  <div class="button">
    <p>
      <a routerLink="/user-progress" class="btn btn-success" role="button">My progress</a>
    </p>
  </div>

  <div class="button">
    <p>
      <a routerLink="/settings" class="btn btn-success" role="button">Settings</a>
    </p>
  </div>
  
</div>

<div class="block">

  <div class="block1">
    <h2 style="font-family: fantasy; color: black; text-align: right">Quick start</h2>
    <ol style="text-align: right">
      <li><input type="text" size="40" style="background: lightsalmon"></li>
      <li><input type="text" size="40" style="background: lightsalmon"></li>
      <li><input type="text" size="40" style="background: lightsalmon"></li>
    </ol>
  </div>
</div>
